#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { 
            // Layer 0
        //   esc  F1 F2 F3 F4
        //    ~  1  2  3  4  5
        //   tab q  w  e  r  t
        //   lctr a  s  d  f  g
        //  lsft z  x  c  v  b
        //          cap win lyr    n m 
        //                       spc 6
            bindings = <
                &kp ESC    &kp F1   &kp F2   &kp F3   &kp F4
                &kp TILDE &kp N1  &kp N2  &kp N3  &kp N4  &kp N5
                &kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T
                &kp LCTRL &kp A   &kp S   &kp D   &kp F   &kp G
                &kp LSHFT &kp Z   &kp X   &kp C   &kp V   &kp B   &kp N &kp M
                                     &kp CAPS  &kp LGUI  &mo 1    &kp SPACE &kp N6
            >;
        };
         bt_layer { 
            // Layer 1
        //   bt clear  bt0 bt1 bt2 bt3
        //   rgb rgb rgb rgb rgb rgb 
        //   none  rgb rgb rgb rgb rgb
        //   none none none none none none
        //   boot none none none none none 
        //          none none none   none none
        //                          none none
            bindings = <
                &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
                &rgb_ug RGB_TOG   &rgb_ug RGB_BRI   &rgb_ug RGB_HUI   &rgb_ug RGB_SAI   &rgb_ug RGB_SPI    &rgb_ug RGB_EFF 
                &none             &rgb_ug RGB_BRD   &rgb_ug RGB_HUD   &rgb_ug RGB_SAD   &rgb_ug RGB_SPD    &rgb_ug RGB_EFR 
                &none  &none  &none  &none  &none  &none
                &bootloader &none  &none  &none  &none  &none    &none  &none
                                       &none  &none  &none      &none  &none 
            >;
        };
    };
 };